<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {{ greeting }}
    </title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />   
  </head>
  <body>
    <!-- this is the start of content -->
    <h1>
      {{ greeting }}
    </h1>
    <form action="fileupload" method="post" enctype="multipart/form-data">
      <p>
        Upload an excel doc to start using the generator.
      </p>
      <input type="file" name="filetoupload"><br><br>
      <input type="submit">
    </form>
  </body>
</html>
